@font-face {
  font-family: "Satoshi";
  src: url("./assets/satoshi-webfont/Satoshi-Light.woff");
}
@font-face {
  font-family: "Gambetta";
  src: url("./assets/Gambetta_Complete/Fonts/WEB/fonts/Gambetta-LightItalic.woff");
}
@font-face {
  font-family: "Chillax";
  src: url("./assets/chillax-webfont/Chillax-Regular.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

html {
  font-size: clamp(14px, 1vw, 20px);
}

body {
  background-color: #0e0e0e;
  font-family: "Chillax";
  color: #dac5a7;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

#cursor {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 2px solid rgba(218, 197, 167, 0.3137254902);
  position: fixed;
  z-index: 9999;
  transition: all 0.01s linear;
  transform: translate(-50%, -50%);
  display: none;
  pointer-events: none;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

main {
  height: 100%;
  width: 100%;
  max-width: 1400px;
  padding: 1.5rem;
}

#page1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 3rem 0 0 0;
}
#page1 img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#page1 h1 {
  font-size: 4rem;
  line-height: 1.5;
  text-align: center;
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 1;
}
#page1 h1 span {
  font-family: "Gambetta";
  font-weight: 500;
}
#page1 p {
  text-align: center;
  font-weight: 100;
  line-height: 1.5;
  font-size: 1.1rem;
  margin: 1rem 0;
  opacity: 0.85;
}
#page1 p br {
  display: none;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border: 1px solid #34312c;
  border-radius: 50px;
  background-color: rgba(35, 33, 30, 0.4509803922);
  transition: all 0.3s ease;
}
.arrow-container i {
  color: rgba(218, 197, 167, 0.8156862745);
  font-size: 0.85rem;
}

.arrow-container:hover {
  border-color: #dac5a7;
  background-color: #2c2925;
}

#page2 {
  width: 100%;
  padding: 5rem 0 0rem 0;
}
#page2 .page2-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#page2 .page2-header h4 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2px;
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 1;
  font-weight: 800;
}
#page2 .marquee-container {
  overflow: hidden;
  display: flex;
  padding: 2rem 0;
  align-items: center;
  position: relative;
}
#page2 .marquee-container::before {
  content: " ";
  position: Absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to left, transparent, #0e0e0e);
  height: 100%;
  width: 30%;
  z-index: 2;
}
#page2 .marquee-container::after {
  content: " ";
  position: Absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to right, transparent, #0e0e0e);
  height: 100%;
  width: 30%;
}
#page2 .marquee-container .marquee-item-container {
  display: flex;
  align-items: center;
  animation: marquee 15s linear infinite;
}
#page2 .marquee-container .marquee-item-container h4 {
  padding: 1rem;
  font-size: 1.3rem;
}
#page2 .card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#page2 .card-container .card {
  display: flex;
  flex-direction: column;
  border: 1px solid #343230;
  padding: 1.8rem;
  background-color: #181716;
  gap: 0.5rem;
  color: rgba(218, 197, 167, 0.8823529412);
}
#page2 .card-container .card h5 {
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 1;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 100;
  color: rgba(218, 197, 167, 0.6156862745);
}
#page2 .card-container .card h4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 200;
}
#page2 .card-container .card p {
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1.5;
}
#page2 .card-container .card .about {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#page2 .card-container .card .arrow-container {
  padding: 0.3rem;
}
#page2 .card-container .card .arrow-container i {
  font-size: 1.2rem;
  font-weight: 100;
  transition: all 0.3s ease;
}
#page2 .card-container .card .arrow-container:hover i {
  rotate: 45deg;
}
#page2 .card-container .card h6 {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

#page3 {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#page3 .work-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
#page3 .work-header h4 {
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 1;
  font-size: 2rem;
}
#page3 .work-header .sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
#page3 .work-header .sub-header h5 {
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 0.8rem;
}
#page3 .work-header .sub-header .arrow-container {
  padding: 0.25rem;
}
#page3 .work-header .sub-header .arrow-container i {
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
#page3 .work-header .sub-header .arrow-container:hover i {
  rotate: 45deg;
}
#page3 .works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#page3 .works-container .work {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  background-position: center;
  background-size: cover;
  border: 0.1px solid rgba(91, 87, 71, 0.4509803922);
  border-radius: 0.2rem;
  display: flex;
  align-items: flex-end;
  padding: 0 1rem 1rem 1rem;
}
#page3 .works-container .work .work-content {
  width: 100%;
  border: 1px solid #5b5747;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem;
  background-color: rgba(72, 66, 56, 0.231372549);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
#page3 .works-container .work .work-content h3 {
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 1;
  font-size: 1.3rem;
}
#page3 .works-container .work .work-content h4 {
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 1;
  font-size: 0.9rem;
  text-transform: uppercase;
}
#page3 .works-container .work .arrow-container {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.3rem;
}
#page3 .works-container .work .arrow-container i {
  font-size: 1.2rem;
  font-weight: 100;
  transition: all 0.3s ease;
  rotate: 45deg;
}
#page3 .works-container .work:hover .arrow-container {
  opacity: 1;
}
#page3 .works-container .work:hover .arrow-container i {
  rotate: 0deg;
}
#page3 .works-container #work1 {
  background-image: url("./assets/work1.jpg");
}
#page3 .works-container #work2 {
  background-image: url("./assets/work2.jpg");
}
#page3 .works-container #work3 {
  background-image: url("./assets/work3.jpg");
}
#page3 .works-container #work4 {
  background-image: url("./assets/work4.jpg");
}

#page4 {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#page4 .header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#page4 .header h5 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 0.9rem;
}
#page4 .header h3 {
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 1;
  font-size: 4.5rem;
  text-align: center;
}
#page4 .header h3 span {
  font-family: "Gambetta";
  font-weight: 500;
}
#page4 .header p {
  text-align: center;
  font-size: 1.1rem;
}
#page4 .page4-content {
  width: 100%;
  padding: 2rem 0;
  display: grid;
  gap: 0.5rem;
  grid-template-areas: "a . . ." "b . . ." "b . . ." "b . . ." "b . . c" "d . . c" "e . . c" "e . . c" "e . . c" "e . . ." "e . . g" "f . . g" "h . . g" "h . . g" "h . . g" "h . . g" "h . . ." "h . . j" "i . . j" "k . . j" "k . . j" "k . . j" "k . . j" "k . . j" "k . . ." "k . . m" "l . . m" "n . . m" "n . . m" "n . . m" "n . . m" "n . . m" "n . . m" "n . . ." "n . . p" "o . . p" ". . . p" ". . . p" ". . . p" ". . . p" ". . . p" ". . . p" ". . . p";
}
#page4 .page4-content .arrow-container i {
  font-size: 1rem;
}
#page4 .page4-content .line {
  justify-self: center;
  width: 2px;
  height: initial;
  background-color: rgba(218, 197, 167, 0.1764705882);
}
#page4 .page4-content .number {
  justify-self: center;
  place-self: center;
  padding: 0.55rem 0.8rem;
  border: 1px solid rgba(218, 197, 167, 0.1764705882);
  background-color: #181716;
  border-radius: 50%;
  font-size: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem 0;
}
#page4 .page4-content .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  border: 1px solid rgba(218, 197, 167, 0.1764705882);
  background-color: #181716;
  padding: 2rem;
}
#page4 .page4-content .content .time {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid rgba(218, 197, 167, 0.1764705882);
  background-color: #2b2826;
  padding: 0.4rem;
}
#page4 .page4-content .content .time h5 {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: rgba(218, 197, 167, 0.7450980392);
}
#page4 .page4-content .content .main-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#page4 .page4-content .content .main-content .heading h5 {
  text-transform: uppercase;
  color: rgba(218, 197, 167, 0.431372549);
  font-size: 1rem;
  word-spacing: 0.2rem;
}
#page4 .page4-content .content .main-content .heading h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
  color: rgba(218, 197, 167, 0.7450980392);
}
#page4 .page4-content .content .main-content p {
  font-size: 1.03rem;
  color: rgba(218, 197, 167, 0.8823529412);
}
#page4 .page4-content .content ul {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#page4 .page4-content .content ul li {
  color: rgba(218, 197, 167, 0.8823529412);
  font-size: 1rem;
}
#page4 .page4-content .arrow-container {
  grid-area: a;
}
#page4 .page4-content #line1 {
  grid-area: b;
}
#page4 .page4-content #number1 {
  grid-area: d;
}
#page4 .page4-content #line2 {
  grid-area: e;
}
#page4 .page4-content #content1 {
  grid-area: c;
}
#page4 .page4-content #number2 {
  grid-area: f;
}
#page4 .page4-content #content2 {
  grid-area: g;
}
#page4 .page4-content #line3 {
  grid-area: h;
}
#page4 .page4-content #number3 {
  grid-area: i;
}
#page4 .page4-content #content3 {
  grid-area: j;
}
#page4 .page4-content #line4 {
  grid-area: k;
}
#page4 .page4-content #number4 {
  grid-area: l;
}
#page4 .page4-content #content4 {
  grid-area: m;
}
#page4 .page4-content #line5 {
  grid-area: n;
}
#page4 .page4-content #number5 {
  grid-area: o;
}
#page4 .page4-content #content5 {
  grid-area: p;
}

#page5 {
  width: 100%;
  margin-top: 2rem;
}
#page5 .heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
#page5 .heading-container h2 {
  font-size: 4rem;
  font-weight: 400;
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 1;
  text-align: center;
}
#page5 .heading-container h2:nth-child(2) {
  font-family: "Gambetta";
  font-weight: 500;
}
#page5 .heading-container h3 {
  color: rgba(198, 179, 152, 0.9607843137);
  text-align: center;
  font-weight: 400;
}
#page5 .card-containers {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  gap: 1rem;
}
#page5 .card-containers .card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #d7c3a5;
}
#page5 .card-containers .card-container .card {
  border: 1px solid #34312c;
  background-color: #181716;
  padding: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#page5 .card-containers .card-container .card .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#page5 .card-containers .card-container .card .content h4 {
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 1;
  font-size: 1.5rem;
  line-height: 1.2;
}
#page5 .card-containers .card-container .card .content p {
  font-size: 1rem;
  color: rgba(198, 179, 152, 0.9607843137);
}
#page5 .card-containers .card-container .card .profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#page5 .card-containers .card-container .card .profile .img-container {
  width: 5rem;
}
#page5 .card-containers .card-container .card .profile .img-container img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
#page5 .card-containers .card-container .card .profile .profile-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  letter-spacing: 1px;
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 1;
}
#page5 .card-containers .card-container .card .profile .profile-content h4 {
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
#page5 .card-containers .card-container .card .profile .profile-content h5 {
  color: rgba(215, 195, 165, 0.5019607843);
  font-size: 0.9rem;
  line-height: 1.2;
}

#page6 {
  margin: 4rem 0;
  padding: 0 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#page6 #photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
#page6 #photo-container h2 {
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 1;
  font-size: 2rem;
}
#page6 #photo-container h2 span {
  font-family: "Gambetta";
  font-weight: 500;
}
#page6 #photo-container img {
  width: 80%;
}
#page6 #photo-container h2:nth-child(3) {
  display: none;
}
#page6 #content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#page6 #content h2 {
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 1;
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.1;
}
#page6 #content h2 span {
  font-family: "Gambetta";
  font-weight: 500;
}
#page6 #content #content-part-2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#page6 #content #content-part-2 p {
  color: rgba(198, 179, 152, 0.937254902);
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.6;
}
#page6 #content #content-part-2 .social-media-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
#page6 #content #content-part-2 .social-media-container .social-media {
  padding: 0.5rem 0.6rem;
  border-radius: 50%;
  border: 1px solid rgba(198, 179, 152, 0.2);
  background-color: #181716;
}
#page6 #content #content-part-2 .social-media-container .social-media i {
  font-size: 1.5rem;
  color: rgba(198, 179, 152, 0.937254902);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (min-width: 1280px) {
  #cursor {
    display: initial;
  }
  main {
    padding: 0 3rem;
  }
  #page1 img {
    width: 60%;
  }
  #page1 h1 {
    font-size: 8rem;
  }
  #page1 p {
    font-size: 1.4rem;
    width: 50%;
  }
  #page2 .page2-header #arrow-container i {
    font-size: 0.7rem;
  }
  #page2 .page2-header h4 {
    font-size: 0.7rem;
  }
  #page2 .marquee-container {
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    padding: 2rem;
  }
  #page2 .marquee-container .marquee-item-container h4 {
    padding: 2rem;
  }
  #page2 .card-container {
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
  }
  #page2 .card-container .card {
    padding: 2rem 3rem;
  }
  #page2 .card-container .card h4 {
    font-size: 1.6rem;
  }
  #page2 .card-container .card p {
    font-size: 1rem;
  }
  #page2 .card-container .card h6 {
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
  }
  #page3 {
    padding-top: 8rem;
  }
  #page3 .work-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
  }
  #page3 .work-header h4 {
    font-size: 2.5rem;
  }
  #page3 .works-container {
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }
  #page3 .works-container .work {
    width: calc(50% - 1rem);
  }
  #page3 .works-container .work .arrow-container {
    visibility: visible;
  }
  #page4 .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 50%;
  }
  #page4 .header h5 {
    font-weight: 500;
    font-size: 0.9rem;
  }
  #page4 .header h3 {
    font-family: "Satoshi";
    font-weight: 500;
    line-height: 1;
    font-size: 6rem;
    text-align: center;
  }
  #page4 .header p {
    text-align: center;
    font-size: 1.2rem;
    width: 85%;
  }
  #page4 .page4-content {
    grid-template-areas: ". a ." ". b c" ". b c" ". b c" ". d c" ". e c" ". e c" "g e ." "g e ." "g e ." "g f ." "g h ." "g h ." "g h ." ". h j" ". h j" ". h j" ". i j" ". k j" ". k j" ". k j" "m k ." "m k ." "m k ." "m l ." "m n ." "m n ." "m n ." ". n p" ". o p" ". . p";
  }
  #page4 .page4-content .number {
    padding: 0.6rem 0.7rem;
    font-size: 0.85rem;
    margin: initial;
  }
  #page4 .page4-content .content {
    gap: initial;
    margin-bottom: 0;
    padding: 2rem;
  }
  #page4 .page4-content .content .time {
    align-self: flex-end;
    padding: 0.2rem;
  }
  #page4 .page4-content .content .time h5 {
    font-size: 0.8rem;
  }
  #page4 .page4-content .content .main-content {
    gap: 1rem;
  }
  #page4 .page4-content .content .main-content .heading h5 {
    font-size: 0.9rem;
  }
  #page4 .page4-content .content .main-content .heading h4 {
    font-size: 1.6rem;
  }
  #page4 .page4-content .content .main-content p {
    font-size: 1rem;
  }
  #page4 .page4-content .content ul {
    margin-top: 2.5rem;
    gap: 0.8rem;
  }
  #page4 .page4-content .content ul li {
    font-size: 1rem;
  }
  #page4 .page4-content .content:nth-child(2n+1) {
    margin-right: 3.5rem;
  }
  #page4 .page4-content .content:nth-child(2n) {
    margin-left: 3.5rem;
  }
  #page5 .heading-container {
    gap: 1rem;
  }
  #page5 .heading-container h2 {
    font-size: 7rem;
  }
  #page5 .heading-container h3 {
    width: 45%;
    font-size: 1.3rem;
  }
  #page5 .card-containers {
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 2rem;
  }
  #page5 .card-containers .card-container {
    gap: 2rem;
  }
  #page5 .card-containers .card-container .card {
    padding: 3rem;
  }
  #page5 .card-containers .card-container .card .content h4 {
    font-size: 1.75rem;
    line-height: 1.5;
  }
  #page5 .card-containers .card-container .card .content p {
    font-size: 1.18rem;
    line-height: 1.5;
  }
  #page5 .card-containers .card-container .card .profile .img-container {
    width: 4rem;
  }
  #page6 {
    gap: 5rem;
  }
  #page6 #photo-container {
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  #page6 #photo-container h2 {
    text-align: initial;
    font-size: 9rem;
    white-space: nowrap;
  }
  #page6 #photo-container img {
    width: 35%;
  }
  #page6 #photo-container h2:nth-child(3) {
    display: initial;
  }
  #page6 #content {
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
  }
  #page6 #content h2 {
    font-size: 3rem;
    text-align: initial;
  }
  #page6 #content h2 span {
    font-size: 3.3rem;
  }
  #page6 #content #content-part-2 {
    width: 50%;
  }
  #page6 #content #content-part-2 p {
    font-size: 1.3rem;
    text-align: initial;
    line-height: 1.6;
  }
  #page6 #content #content-part-2 .social-media-container {
    justify-content: initial;
  }
}