@font-face {
  font-family: "Satoshi";
  src: url("./assets/satoshi-webfont/Satoshi-Light.woff");
}

@font-face {
  font-family: "Gambetta";
  src: url("./assets/Gambetta_Complete/Fonts/WEB/fonts/Gambetta-LightItalic.woff");
}

@font-face {
  font-family: "Chillax";
  src: url("./assets/chillax-webfont/Chillax-Regular.woff");
}

@mixin satoshi {
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 1;
}

@mixin gambetta {
  font-family: "Gambetta";
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  width: 100%;
}
html {
  font-size: clamp(16px, 1vw, 24px);
}
body {
  background-color: #0e0e0e;
  font-family: "Chillax";
  color: #dac5a7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  height: 100%;
  width: 100%;
  max-width: 1400px;
  padding: 1.5rem;
}
#page1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 3rem 0 0 0;
  img {
    width: 70%;
    object-fit: cover;
    object-position: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  h1 {
    font-size: 4rem;
    line-height: 1.5;
    text-align: center;
    @include satoshi;
    span {
      @include gambetta;
    }
  }

  p {
    text-align: center;
    font-weight: 100;
    line-height: 1.5;
    font-size: 1.1rem;
    margin: 1rem 0;
    opacity: 0.85;
    br {
      display: none;
    }
  }
}
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border: 1px solid #34312c;
  border-radius: 50px;
  background-color: #23211e73;
  transition: all 0.3s ease;
  i {
    color: #dac5a7d0;
    font-size: 0.85rem;
  }
}

.arrow-container:hover {
  border-color: #dac5a7;
  background-color: #2c2925;
}

#page2 {
  width: 100%;
  padding: 5rem 0 0rem 0;
  .page2-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h4 {
      text-transform: uppercase;
      font-size: 0.75rem;
      letter-spacing: 2px;
      @include satoshi;
      font-weight: 800;
    }
  }
  .marquee-container {
    overflow: hidden;

    display: flex;
    padding: 2rem 0;
    align-items: center;
    position: relative;
    &::before {
      content: " ";
      position: Absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to left, transparent, #0e0e0e);
      height: 100%;
      width: 30%;
      z-index: 2;
    }
    &::after {
      content: " ";
      position: Absolute;
      top: 0;
      right: 0;
      background: linear-gradient(to right, transparent, #0e0e0e);
      height: 100%;
      width: 30%;
    }

    .marquee-item-container {
      display: flex;
      align-items: center;
      h4 {
        padding: 1rem;
        font-size: 1.3rem;
      }
      animation: marquee 15s linear infinite;
    }
  }
  .card-container {
    display: flex;

    flex-direction: column;
    gap: 1rem;

    .card {
      display: flex;
      flex-direction: column;
      border: 1px solid #343230;
      padding: 1.8rem;
      background-color: #181716;
      gap: 0.5rem;
      color: #dac5a7e1;
      h5 {
        @include satoshi;
        font-size: 0.8rem;
        letter-spacing: 2px;
        font-weight: 100;
        color: #dac5a79d;
      }
      h4 {
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 200;
      }
      p {
        font-size: 0.9rem;
        font-weight: 100;
        line-height: 1.5;
      }
      .about {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      .arrow-container {
        padding: 0.3rem;
        i {
          font-size: 1.2rem;
          font-weight: 100;
          transition: all 0.3s ease;
        }
      }
      .arrow-container:hover {
        i {
          rotate: 45deg;
        }
      }
      h6 {
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
      }
    }
  }
}

#page3 {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .work-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    h4 {
      @include satoshi;
      font-size: 2rem;
    }
    .sub-header {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.7rem;
      h5 {
        @include satoshi;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 0.8rem;
      }
      .arrow-container {
        padding: 0.25rem;
        i {
          font-size: 1.2rem;
          transition: all 0.3s ease;
        }
      }
      .arrow-container:hover {
        i {
          rotate: 45deg;
        }
      }
    }
  }
  .works-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .work {
      position: relative;
      width: 100%;
      aspect-ratio: 4/3;
      background-position: center;
      background-size: cover;
      border: 0.1px solid #5b574773;
      border-radius: 0.2rem;
      display: flex;
      align-items: flex-end;
      padding: 0 1rem 1rem 1rem;

      .work-content {
        width: 100%;
        border: 1px solid #5b5747;
        border-radius: 0.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.9rem;
        background-color: #4842383b;
        backdrop-filter: blur(20px);
        h3 {
          @include satoshi;
          font-size: 1.3rem;
        }
        h4 {
          @include satoshi;
          font-size: 0.9rem;
          text-transform: uppercase;
        }
      }
      .arrow-container {
        display: none;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0.3rem;
        i {
          font-size: 1.2rem;
          font-weight: 100;
          transition: all 0.3s ease;
          rotate: 45deg;
        }
      }
    }
    .work:hover {
      .arrow-container {
        opacity: 1;
        i {
          rotate: 0deg;
        }
      }
    }
    #work1 {
      background-image: url("./assets/work1.jpg");
    }
    #work2 {
      background-image: url("./assets/work2.jpg");
    }
    #work3 {
      background-image: url("./assets/work3.jpg");
    }
    #work4 {
      background-image: url("./assets/work4.jpg");
    }
  }
}

#page4 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h5 {
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      font-size: 0.9rem;
    }
    h3 {
      @include satoshi;
      font-size: 3.6rem;
      text-align: center;
      span {
        @include gambetta;
      }
    }
    p {
      text-align: center;
      font-size: 1.1rem;
    }
  }
  .page4-content {
    width: 100%;
    padding: 2rem 0;
    display: grid;
    gap: 0.5rem;
    grid-template-areas:
      "a . . ."
      "b . . ."
      "b . . ."
      "b . . ."
      "b . . c"
      "d . . c"
      "e . . c"
      "e . . c"
      "e . . c"
      "e . . ."
      "e . . g"
      "f . . g"
      "h . . g"
      "h . . g"
      "h . . g"
      "h . . g"
      "h . . ."
      "h . . j"
      "i . . j"
      "k . . j"
      "k . . j"
      "k . . j"
      "k . . j"
      "k . . j"
      "k . . ."
      "k . . m"
      "l . . m"
      "n . . m"
      "n . . m"
      "n . . m"
      "n . . m"
      "n . . m"
      "n . . m"
      "n . . ."
      "n . . p"
      "o . . p"
      ". . . p"
      ". . . p"
      ". . . p"
      ". . . p"
      ". . . p"
      ". . . p"
      ". . . p";
    .line {
      justify-self: center;

      width: 2px;
      height: initial;
      background-color: #dac5a72d;
    }
    .number {
      justify-self: center;
      place-self: center;
      padding: 0.5rem 0.6rem;
      border: 1px solid #dac5a72d;
      background-color: #181716;
      border-radius: 50%;
      font-size: 0.8rem;
      height: fit-content;
      width: fit-content;
      margin: 1rem 0;
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2rem;
      border: 1px solid #dac5a72d;
      background-color: #181716;
      padding: 1.5rem;
      .time {
        width: fit-content;
        border: 1px solid #dac5a72d;
        background-color: #2b2826;
        padding: 0.4rem;
        h5 {
          font-size: 0.8rem;
          text-transform: uppercase;
          color: #dac5a7be;
        }
      }
      .main-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .heading {
          h5 {
            text-transform: uppercase;
            color: #dac5a76e;
            font-size: 0.8rem;
            word-spacing: 0.2rem;
          }
          h4 {
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 400;
            color: #dac5a7be;
          }
        }
        p {
          font-size: 0.9rem;
          color: #dac5a7e1;
        }
      }
      ul {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        li {
          color: #dac5a7e1;
          font-size: 0.9rem;
        }
      }
    }
    .arrow-container {
      grid-area: a;
    }
    #line1 {
      grid-area: b;
    }
    #number1 {
      grid-area: d;
    }
    #line2 {
      grid-area: e;
    }

    #content1 {
      grid-area: c;
    }
    #number2 {
      grid-area: f;
    }
    #content2 {
      grid-area: g;
    }
    #line3 {
      grid-area: h;
    }
    #number3 {
      grid-area: i;
    }
    #content3 {
      grid-area: j;
    }
    #line4 {
      grid-area: k;
    }

    #number4 {
      grid-area: l;
    }
    #content4 {
      grid-area: m;
    }
    #line5 {
      grid-area: n;
    }
    #number5 {
      grid-area: o;
    }
    #content5 {
      grid-area: p;
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (min-width: 1280px) {
  main {
    padding: 0 3rem;
  }
  #page1 {
    img {
      width: 60%;
    }
    h1 {
      font-size: 8rem;
    }
    p {
      font-size: 1.4rem;

      width: 50%;
    }
  }

  #page2 {
    .page2-header {
      #arrow-container {
        i {
          font-size: 0.7rem;
        }
      }
      h4 {
        font-size: 0.7rem;
      }
    }
    .marquee-container {
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
      padding: 2rem;

      .marquee-item-container {
        h4 {
          padding: 2rem;
        }
      }
    }

    .card-container {
      flex-direction: row;
      gap: 1.5rem;
      justify-content: center;

      .card {
        padding: 2rem 3rem;
        h4 {
          font-size: 1.6rem;
        }
        p {
          font-size: 1rem;
        }

        h6 {
          font-size: 0.85rem;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 600;
        }
      }
    }
  }

  #page3 {
    padding-top: 8rem;
    .work-header {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 2rem;
      h4 {
        font-size: 2.5rem;
      }
    }
    .works-container {
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
      .work {
        width: calc(50% - 1rem);
        .arrow-container {
          display: initial;
        }
      }
    }
  }
  #page4 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h5 {
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        font-size: 0.9rem;
      }
      h3 {
        @include satoshi;
        font-size: 3.6rem;
        text-align: center;
        span {
          @include gambetta;
        }
      }
      p {
        text-align: center;
        font-size: 1.1rem;
      }
    }
    .page4-content {
      gap: 0.5rem;
      grid-template-areas:
        ". a ."
        ". b c"
        ". b c"
        ". b c"
        ". d c"
        ". e c"
        ". e c"
        "g e ."
        "g e ."
        "g e ."
        "g f ."
        "g h ."
        "g h ."
        "g h ."
        ". h j"
        ". h j"
        ". h j"
        ". i j"
        ". k j"
        ". k j"
        ". k j"
        "m k ."
        "m k ."
        "m k ."
        "m l ."
        "m n ."
        "m n ."
        "m n ."
        ". n p"
        ". o p"
        ". . p";

      .number {
        padding: 0.5rem 0.6rem;
        font-size: 0.8rem;
        margin: initial;
      }
      #content1 {
        margin-top: 1rem;
      }
      .content {
        gap: 2rem;
        margin-bottom: 0;
        padding: 2rem;
        .time {
          padding: 0.4rem;
          h5 {
            font-size: 0.8rem;
          }
        }
        .main-content {
          gap: 1rem;
          .heading {
            h5 {
              font-size: 0.8rem;
              word-spacing: 0.2rem;
            }
            h4 {
              font-size: 1.3rem;
            }
          }
          p {
            font-size: 0.9rem;
          }
        }
        ul {
          padding-left: 1rem;
          gap: 0.5rem;
          li {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
